* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#content-wrapper {
  width: 80%;
  height: 100%;
  top: 300px;
  left: 100px;
  /* display: flex; */
  /* flex-direction: row; */
  position: relative;
  margin-left: 10%;
  /* background-color: aliceblue; */
}

.skin-table td {
  width: 200px;
  height: 400px;
  margin-bottom: 100px;
  /* background-color: #ddd; */
  border: 0;
  perspective: 1000px;
}

.skin-table td img {
  align-self: center;
  transition: transform 0.1s ease;
  /* transform-style: preserve-3d; */
  transform-origin: center center;
}

.skin-table td:hover img {
  width: 150px;
}



.empty-container {
  display: block;
  position: absolute;
  left: 90%;
  height: 100%;
  /* background-color: aliceblue; */
  /* height: 1000px; */
}
.empty-container p {
  display: block;
  position: relative;
  /* background-color: aliceblue; */
  height: 1000px;
}

.topp {
  margin-top: 10px;
  position: sticky;
  top: 70%;
}
